
.thumbnail-images img {
    max-width: 40px;
    height: auto;
    border: 1px solid #ddd;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 5px;
}
.thumbnail-images img:hover {
    border-color: #007bff;
}

.img1 {
    height: 16px;
    width: 16px;
    text-align: center;
}