body {
    background-color: rgb(245, 245, 250);
}


/* class */
.box {
    width: 40px;
    height: 40px;
    border: 2px solid rgb(165, 165, 173);
    border-radius: 8px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    opacity: 0.7;
    cursor: pointer;
    font-size: 30px;
}
.boxin {
    width: 80px;
    height: 40px;
    border: 2px solid rgb(153, 153, 160);
    border-radius: 8px;
    text-align: center;
    opacity: 0.7;
    font-size: 30px;
    cursor: pointer;
}

.box1 {
    height: 40px;
    border: 1px solid rgb(0, 73, 234);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; /* Khoảng cách giữa các khối */
}
.box2 {
    height: 40px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; /* Khoảng cách giữa các khối */
}


.no-bullets {
    list-style-type: none;
    padding: 0;
  }


.text {
    color: white;
    text-align: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.sum {
    text-align: center;
    margin-bottom: 10px;
}

.box3 {
    background-color: white;
    border-radius: 8px;
}

.box4 {
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    background-color: rgb(245, 245, 250);
}

.box5 {
    padding: 20px;
    box-sizing: border-box;
}

.img1 {
    height: 16px;
    width: 16px;
    text-align: center;
}
.img2 {
    height: 24px;
    width: 24px;
    text-align: center;
}

.div1 {
    position: absolute;
    bottom: 10px; 
    left: 10px; 
    right: 10px; 
    width: auto;
    padding: 6px 0 0;
    box-sizing: border-box;
    border-top: 0.8px solid #ebebf0;
}

#filterContainer > div:first-child {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    
}
#filterContainer {
    overflow: hidden; /* bỏ thanh ngang*/
}

.dim1 {
    text-decoration: none; 
}
@media screen and (max-width: 768px){
    .header{
       background-color: #1Ba8FF;
        
    }
    .footer{
        display: none;
    }
}


