.form-container{
    width: 400px;
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}
.image{
    flex: 1;
    background-image: url('Login.png'); /* Add your image here */
    background-size: cover;
    background-position: center;
}

.register{
    text-align: left;
    /* text-emphasis: none; */
}